#allAfspraken{
    position: absolute;
    top: 8%;
    right:79%;
    width: 250px;
    height: 100px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.8);
    padding : 75px;
    float: left;
    margin-bottom: 20px;
    border-radius: 25px;
    background: url(img/aqua.png);
}

#Aquariumheader{
    position:absolute;
    right:93%;
}